{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'birds/style.css' %}">

    <title>
        {% block title %}
            🐦 文鳥ライフログ
        {% endblock %}
    </title>
</head>

<body class="bg-light">
    <header class="bg-white border-bottom shadow-sm">
        <h1 class="container py-3 mb-0">
            <a
                href="{% url 'home' %}"
                class="text-dark text-decoration-none"
            >
                文鳥ライフログ
            </a>
        </h1>
    </header>

    <main class="container py-4">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>